<link rel="import" href="../../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html" />
<link rel="import" href="../../../bower_components/polymer/lib/mixins/properties-changed.html" />
<link rel="import" href="../table-row/table-row.html" />

<dom-module id="custom-table">
  <template>
    <style>
      .template-table {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        padding: 8px;
        background-color: white;
      }
      .table-title {
        font-size: 20px;
        width: 50%;
      }
      .refresh-btn {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        /* background-image: url(\images\refresh.png); */
        cursor: pointer;
      }
      .table-panel {
        display: flex;
      }
    </style>
    <div class="template-table">
      <div class="table-panel">
        <div class="table-title">{{tabletitle}}</div>
        <button class="refresh-btn" on-click="clickRefreshTable">REFRESH DATA</button>
      </div>
        <template is="dom-repeat" items="{{tasks}}" as="task">
          <table-row
            date="[[task.dateTime]]"
            name="[[task.name]]"
            note="[[task.note]]"
          ></table-row>
        </template>
      </template>
    </div>
  <script src="./custom-table.js"></script>
</dom-module>
